@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 180px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
