@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
  --primaria: #0080FF;
  --secundaria: #00AD2B;
  --black: #2D2D29;
  --azul-2: #005FB3;
}

body {
  margin: 0;
}
