# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy Node.js app to Azure Web App  - azure-deploy-with-gh-actions-web-app
on:
  push:
    branches:
      - main
    paths-ignore:
      - "README.md"
      - ".github/**"
      - "apresentacao/**"
      - "atas/**"
      - "documentos/**"
      - "proex/**"

env:
  AZURE_WEBAPP_NAME: sai-larsaovicente
  AZURE_WEBAPP_PACKAGE_PATH: "codigo-fonte/back-end"
  NODE_VERSION: "18.x"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: npm install, build, and test
        run: |
          npm install -g @nestjs/cli
          npm install
          npm run build
          npm run test

      - name: "Deploy to Azure Web App"
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
