on:
  push:
    branches:
      - main

env:
  AZURE_WEBAPP_NAME: sai-larsaovicente
  AZURE_WEBAPP_PACKAGE_PATH: './codigo-fonte/back-end/'
  NODE_VERSION: "18.x"

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./codigo-fonte/back-end/
    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: npm install, build, and test
        run: |
          npm install -g @nestjs/cli
          npm install
          npm run build
          npm run test

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v3
        with:
          name: node-app
          path: .

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v3
        with:
          name: node-app

      - name: "Deploy to Azure WebApp"
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
